$small-sm: 4px;
$small-md: 8px;
$small-lg: 12px;
$small: 16px;
$middle-sm: 20px;
$middle-md: 24px;
$middle-lg: 28px;
$middle: 36px;
$large: 48px;
$X-large: 60px;

$color-primary:#630834;
$color-secondary: #55595C;
$color-white: #ffffff;
$color-black: #121212;
$color-warning: #E31277;
$color-muted: #707070;
$color-gray: #EFEFEF;
$color-btn: #630834;
$color-border: #95989A;
$color-modal: #190014;