// banner 
.banner {
    padding-top: 37.5%;
    background-image: url('https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=593&q=80');
    background-position: center center;
    background-size: cover;
    position: relative;
    @include mobile {
        padding-top: 128%;
    }
    &__text {
        position: absolute;
        left: 14.0625%;
        bottom: 18.75%;
        @include mobile {
            left: 0;
            width: 100%;
            padding: 0 5%;
        }
    }
    &__title,
    &__date {
        color: $color-white;
    }
    &__title {
        font: normal normal bold 32px/48px Noto Sans CJK TC;
    }
    &__date {
        font: normal normal bold 20px/30px Roboto;
        margin-top: $small-md;
    }
    &__btn-group {
        margin-top: $small;
        display: flex;
        align-items: center;
        @include mobile {
            width: 100%;
            justify-content: space-between;
        }
        .btn {
            display: block;
            color: $color-white;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            padding: 10px $large;
            border-radius: $small-sm;
            transition: .5s;
            &:hover {
                background-color: $color-black;
            }
        }
        .btn--buy {
            background-color: $color-warning;
            border: 1px solid $color-warning;
        }
        .btn--info {
            border: 1px solid $color-white;
            margin-left: $small-md;
            @include mobile {
                margin-left: 0;
            }
        }
    }
}