// header
.header__wrap {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: relative;
}
.header {
    width: 100%;
    position: relative;
    @include mobile {
        padding: 18px 0;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__item--btn {
            color: $color-secondary;
            margin-left: 32px;
            cursor: pointer;
            position: relative;
            &:hover {
                color: $color-primary;
            }
        }
        &__option {
            display: block;
            color: $color-secondary;
            font: normal normal normal 16px/21px Roboto;
            margin-left: 32px;
            padding: 28.5px 0;
            position: relative;
            transition: .5s;
            &:hover {
                color: $color-primary;
            }
            @include mobile {
                display: none;
            }
        }
        .material-icons {
            width: 24px;
            height: 24px;
            display: flex;
            transition: .5s;
            color: $color-secondary;
            &:hover {
                color: $color-primary;
            }
        }
        &__notice {
            width: 22px;
            height: 18px;
            border-radius: 9px;
            background-color: $color-warning;
            color: $color-white;
            font: normal normal normal 12px/14px Helvetica Neue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -40%;
            right: -60%;
            @include mobile {
                top: -40%;
                right: -40%;
            }
        }
    }
}