// logo
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 15.7%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    &__item {
        display: block;
        color: $color-primary;
        font: normal normal normal 22px/23px Arial Hebrew Scholar;
    }
    @include mobile {
        width: 100%;
        justify-content: center;
    }
}