// banner__item
.banner--first,
.banner--third {
    background-color: $color-btn;
    &--content {
        color: $color-white;
    }
    &--date {
        color: $color-white;
    }
}
.banner--first--pic {
     background-image: url('https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.banner--third--pic {
    background-image: url('https://images.unsplash.com/photo-1545178803-4056771d60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.banner--second {
    background-color: $color-white;
    &--content {
        color: $color-btn;
    }
    &--pic {
        background-image: url('https://images.unsplash.com/photo-1510520001634-6af954f45759?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80');
    }
    &--date {
        color: $color-btn;
    }
}
.banner__item__wrap--second {
    justify-content: flex-end;
}

.banner__item {
    padding: 80px 0 52px;
    @include mobile {
        padding: 44px 0;
    }
    &__wrap {
        display: flex;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__content {
        width: 32%;
        @include mobile {
            width: 100%;
            order: 3;
        }
    }
    &__title {
        font: normal normal bold 36px/54px Noto Sans CJK TC;
        @include mobile {
            font: normal normal bold 28px/42px Noto Sans CJK TC;
            margin-top: $small-md;
        }
    }
    &__text {
        font: normal normal bold 16px/24px Roboto;
        margin-top: $middle-md;
        @include mobile {
            margin-top: $small-md;
        }
    }
    &__pic {
        width: 40.091%;
        padding-top: 25.676%;
        background-position: center center;
        background-size: cover;
        margin: 0 30px;
        position: relative;
        @include mobile {
            width: 100%;
            padding-top: 64.059%;
            margin: 0;
            order: 1;
        }
    }
    &__date {
        width: 5%;
        font: normal normal bold 20px/30px Roboto;
        align-self: flex-end;
        @include mobile {
            width: 100%;
            order: 2;
            align-self: unset;
            font: normal normal medium 16px/24px Roboto;
            margin-top: $small;
        }
    }
    &__next {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0;
    }
}
.dn-mb {
    @include mobile {
        display: none;
    }
}
