// checkOut
.checkOut__lineBar {
    width: 65.766%;
    display: flex;
    justify-content: space-between;
    margin: $middle-sm 0 $middle-lg;
    padding-top: $small-md;
    border-top: 2px solid $color-warning;
    @include mobile {
        width: 100%;
        margin: $middle-sm 0 $middle-sm;
    }
    &__item {
        width: 25%;
        color: $color-black;
        text-align: center;
        font: normal normal 300 16px/24px Noto Sans CJK TC;
        position: relative;
        @include mobile {
            font: normal normal 300 14px/21px Noto Sans CJK TC;
        }
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background-color: $color-white;
            border: 1px solid $color-warning;
            border-radius: 50%;
            position: absolute;
            top: -14px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    &--default {
        font: normal normal bold 16px/24px Noto Sans CJK TC;
        @include mobile {
            font: normal normal bold 14px/21px Noto Sans CJK TC;
        }
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background-color: $color-warning;
            border: 1px solid $color-warning;
            border-radius: 50%;
            position: absolute;
            top: -14px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

.checkOut {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    position: relative;
    @include mobile {
        flex-wrap: wrap;
    }
    &__left {
        width: 65.766%;
        @include mobile {
            width: 100%;
        }
        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mobile {
                position: relative;
            }
        }
        &__nav:nth-child(n+2) {
            margin-top: $middle-sm;
        }
        &__pic {
            width: 21.918%;
            padding-top: 11.508%;
            background-position: center center;
            background-size: cover;
            @include mobile {
                width: 47.83%;
                padding-top: 24.35%;
            }
        }
        &--pic1 {
            background-image: url('https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
        }
        &--pic2 {
            background-image: url('https://images.unsplash.com/photo-1510520001634-6af954f45759?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80');
        }
        &--pic3 {
            background-image: url('https://images.unsplash.com/photo-1545178803-4056771d60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
        }
        &__info {
            @include mobile {
                width: 52.17%;
                padding-left: $small;
            }
        }
        &__title {
            color: $color-black;
            font: normal normal bold 16px/24px Noto Sans CJK TC;
        }
        &__date {
            color: $color-black;
            font: normal normal bold 15px/23px Roboto;
            margin-top: $small-sm;
            @include mobile {
                margin-top: 6px;
            }
        }
        &__ticket {
            color: $color-muted;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            margin-top: $small-sm;
            @include mobile {
                margin-top: 6px;
            }
        }
        &__price {
            color: $color-black;
            font: normal normal bold 20px/30px Roboto;
            @include mobile {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        &__quantity {
            display: flex;
            align-items: center;
            @include mobile {
                display: none;
            }
        }
        &__number {
            color: $color-black;
            font: normal normal bold 20px/30px Roboto;
            margin: 0 $small-lg;
        }
        &__close {
            @include mobile {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .material-icons {
            cursor: pointer;
        }
        .number--mb {
            display: none;
            @include mobile {
                display: inline-block;
                color: $color-black;
                font: normal normal bold 20px/30px Roboto;
                margin-left: $small-sm;
            }
        }
    }
    &__left--2 {
        @include mobile {
            margin-top: 140%;
        }
    }
    &__left--3 {
        @include mobile {
            margin-top: 120%;
        }
    }
    &__right {
        width: 34.234%;
        align-self: flex-end;
        @include mobile {
            width: 100%;
        }
        &__table {
            width: 34.234%;
            position: absolute;
            top: 0;
            right: 0;
            @include mobile {
                width: 100%;
                top: 0;
            }
        }
        &__title {
            color: $color-black;
            font: normal normal bold 20px/30px Noto Sans CJK TC;
        }
        &__label {
            display: block;
            margin-top: $middle-sm;
            color: $color-black;
            font: normal normal normal 16px/21px Roboto;
            @include mobile {
                margin-top: $small;
            }
        }
        &__text__wrap--2 {
            @include mobile {
                transform: translateY(-450%);
            }
        }
        &__text__wrap--3 {
            @include mobile {
                transform: translateY(-450%);
            }
        }
        &__text {
            display: flex;
            justify-content: space-between;
        }
        &__text--1 {
            @include mobile {
                width: 47.828%;
                margin-left: auto;
            }
        }
        &__total {
            color: $color-black;
            font: normal normal bold 20px/30px Noto Sans CJK TC;
        }
        input {
            width: 100%;
            padding: $small-md $small-lg;
            border: 1px solid $color-border;
            border-radius: $small-sm;
            outline: none;
            margin-top: $small-sm;
            &::placeholder {
                color: $color-border;
                font: normal normal normal 16px/24px Noto Sans CJK TC;
            }
        }
        &__effctive {
            width: 100%;
            text-align: right;
            margin-top: $small-sm;
            color: $color-primary;
            font: normal normal normal 14px/21px Noto Sans CJK TC;
        }
        &__price {
            color: $color-black;
            font: normal normal bold 20px/30px Roboto;
        }
        &__subtotal {
            color: $color-black;
            font: normal normal bold 16px/24px Noto Sans CJK TC;
        }
        &__subprice {
            color: $color-black;
            font: normal normal 300 16px/24px Roboto;
        }
    }
    .btn {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
        border-radius: $small-sm;
        margin-top: 14px;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        transition: .5s;
        border: 1px solid transparent;
    }
    .btn--next {
        color: $color-white;
        background-color: $color-warning;
        @include mobile {
            width: 47.828%;
            margin-left: auto;
        }
        &:hover {
            background-color: $color-primary;
        }
    }
    .btn--back {
        position: absolute;
        bottom: 40px;
        width: 12.5%;
        color: $color-primary;
        background-color: $color-white;
        border: 1px solid $color-primary;
        @include mobile {
            width: 47.828%;
        }
        &:hover {
            color: $color-white;
            background-color: $color-warning;
        }
    }
    .mt-6 {
        margin-top: 6px;
    }
}


// checkOut4
.checkOut4 {
    &__content {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mobile {
            width: 100%;
        }
    }
    &__finish {
        color: $color-primary;
        text-align: center;
        &__title {
            font: normal normal bold 20px/30px Noto Sans CJK TC;
            margin-top: 10px;
        }
    }
    .material-icons {
        width: 44px;
        height: 44px;
        font-size: 44px;
    }
    &__wording {
        margin-top: $middle-md;
    }
    &__text {
        color: $color-black;
        font: normal normal bold 16px/24px Noto Sans CJK TC;
    }
    &__password {
        color: $color-primary;
        font: normal normal normal 24px/36px Noto Sans CJK TC;
        margin: 40px 0 46px;
        text-align: center;
    }
    &__btn-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 92px;
    }
    .btn {
        width: 45.948%;
        padding: 10px 0;
        border-radius: $small-sm;
        display: block;
        text-align: center;
        border: 1px solid transparent;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        transition: .5s;
        &:hover {
            color: $color-white;
            background-color: $color-black;
        }
        @include mobile {
            width: 47.83%;
        }
    }
    .btn--keep {
        border: 1px solid $color-primary;
        color: $color-primary;
    }
    .btn--watch {
        border: 1px solid $color-warning;
        color: $color-white;
        background-color: $color-warning;
    }
}
.checkOut--h1 {
    height: calc(100vh - 162px);
}
.checkOut--h2,
.checkOut--h3 {
    height: calc(100vh - 39px);
    @include mobile {
        height: 100%;
    }
}
.checkOut--h4 {
    height: calc(100vh - 132px);
    @include mobile {
        height: calc(100vh - 111px);
    }
}

// .checkOut1,
.checkOut2,
.checkOut3,
.checkOut4 {
    display: none;
}
