// exhibition
.exhibition {
    padding: $X-large 0;
    @include mobile {
        padding: $middle-md 0;
    }
    &__title {
        color: $color-black;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        margin-bottom: $middle-md;
        @include mobile {
            margin-bottom: $small-md;
        }
    }
    &__item {
        display: flex;
        @include mobile {
            width: 110%;
            transform: translateX(-5%);
            flex-wrap: wrap;
            padding: $middle-md $small;
            background-color: $color-gray;
        }
    }
    &__item:nth-child(n+2) {
        margin-top: $middle-lg;
        @include mobile {
            margin-top: $small;
        }
    }
    &__pic {
        width: 31.532%;
        padding-top: 31.532%;
        background-position: center center;
        background-size: cover;
        @include mobile {
            width: 100%;
            padding-top: 100%;
        }
    }
    &__pic--1 {
        background-image: url('https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    }
    &__pic--2 {
        background-image: url('https://images.unsplash.com/photo-1510520001634-6af954f45759?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80');
    }
    &__pic--3 {
        background-image: url('https://images.unsplash.com/photo-1545178803-4056771d60a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    }
    &__wrap {
        width: 68.468%;
        padding: 40px 30px;
        background-color: $color-gray;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include mobile {
            width: 100%;
            padding: $small-md 0 $middle-lg;
        }
    }
    &__content {
        width: 75%;
        @include mobile {
            width: 100%;
        }
        &__title {
            color: $color-black;
            font: normal normal bold 20px/30px Noto Sans CJK TC;
        }
        &__price {
            color: $color-black;
            font: normal normal normal 20px/30px Roboto;
            margin-top: $small-sm;
        }
        &__text {
            color: $color-black;
            font: normal normal bold 20px/30px Roboto;
            margin-top: $small-md;
            @include mobile {
                font: normal normal normal 16px/24px Roboto;
            }
        }
        &__btn-group {
            position: absolute;
            left: 30px;
            bottom: 40px;
            display: flex;
            align-items: center;
            @include mobile {
                position: relative;
                left: 0;
                bottom: -$small-md;
                top: $middle-sm;
            }
            .btn {
                display: block;
                padding: 10px 13px;
                border-radius: $small-sm;
                border: 1px solid $color-btn;
                font: normal normal normal 16px/24px Noto Sans CJK TC;
                transition: .5s;
                &:hover {
                    color: $color-white;
                    background-color: $color-black;
                }
            }
            .btn--buy {
                color: $color-white;
                background-color: $color-btn;
            }
            .btn--collect {
                color: $color-btn;
                margin-left: $small-md;
            }
        }
    }
    &__info {
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
            width: 100%;
            flex-direction: row-reverse;
            align-items: center;
            position: absolute;
            right: 0;
            top: 10px;
        }
        &__text {
            font: normal normal bold 20px/30px Roboto;
            @include mobile {
                font: normal normal normal 16px/24px Roboto;
            }
        }
        .facebook {
            color: $color-black;
        }
        .facebook--1 {
            @include mobile {
                margin-left: 45%;
            }
        }
        .facebook--2 {
            @include mobile {
                margin-left: 47.5%;
            }
        }
        .facebook--3 {
            @include mobile {
                margin-left: 32.5%;
            }
        }
    }
}