// guess
.guess {
    padding: $X-large 0;
    @include mobile {
        padding: $middle-md 0;
    }
    &__title {
        color: $color-black;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        margin-bottom: $middle-md;
        @include mobile {
            margin-bottom: $small-md;
        }
    }
    &__group {
        margin-top: $middle-md;
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-wrap: wrap;
            margin-top: 0;
        }
    }
    &__card {
        width: 31.532%;
        @include mobile {
            width: 100%;
        }
        &__title {
            color: $color-black;
            font: normal normal bold 20px/30px Noto Sans CJK TC;
            margin: $small-sm 0;
            @include mobile {
                margin: $small-md 0 $small-sm;
            }
        }
        &__price {
            color: $color-black;
            font: normal normal normal 20px/30px Roboto;
        }
    }
    &__card:nth-child(n + 2) {
        @include mobile {
            margin-top: $small;
        }
    }
    &__pic {
        width: 100%;
        padding-top: 100%;
        background-position: center center;
        background-size: cover;
    }
    &__pic--1 {
        background-image: url("https://images.unsplash.com/photo-1492087368735-957f2d176504?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1260&q=80");
    }
    &__pic--2 {
        background-image: url("https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    }
    &__pic--3 {
        background-image: url("https://images.unsplash.com/photo-1578402025217-920675beb3c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80");
    }
}
