.db {
    display: block;
}

.di-mb {
    // display: none;
    @include mobile {
        display: inline-block;
    }
}
.db-mb {
    @include mobile {
        display: block;
    }
}

.dn {
    display: none;
}
.dn-md {
    @include pad {
        display: none;
    }
}

.dn-mb {
    @include mobile {
        display: none;
    }
}

.op-0 {
    opacity: 0;
}

.sp {
    margin: 0 $small-lg;
    padding: 0 1px;
    background-color: $color-white;
}